@page "/invest/{id}"
@using InvestList
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InvestList.Areas.Main.Pages.Invest.Get

<div class="container mb-4">
    @if (Model.CanUserEdit)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Post.Id" class="btn btn-primary me-2">Редагувати</a>
    }

    <a asp-page="./List" class="btn btn-secondary">Повернутись до списку</a>
</div>
<div class="row">
    <div class="col-8">
        <div class="card border-success mb-3">
            <h1 class="card-header">@Model.Post.Title</h1>

            <div class="d-flex border align-content-start flex-wrap">
                <div class="p-2 flex-fill">Загальний обсяг інвестицій: $@Model.Post.TotalInvestment</div>
                <div class="p-2 flex-fill">Період інвестування: @InvestmentHelper.FormatInvestmentDuration(Model.Post.InvestDurationYears, Model.Post.InvestDurationMonths)</div>
                <div class="p-2 flex-fill">Річна дохідність: @Model.Post.AnnualInvestmentReturn.ToString("0.")%</div>
            </div>

            <div class="d-flex border align-content-start flex-wrap">
                <div class="d-flex card-text p-2 flex-fill">
                    <span style="padding-right: 10px;">Мінімальний поріг входу </span>
                    @if (Model.Post.MinInvestValues != null && Model.Post.MinInvestValues.Any())
                    {
                        @foreach (var currency in Model.Post.MinInvestValues)
                        {
                            <span > @currency.MinValue @currency.Currency </span>
                        }
                    }
                    else
                    {
                        <span>Немає валют</span>
                    }
                </div>

                @if (Model.Post.Tags != null && Model.Post.Tags.Any())
                {
                    <div class="flex-fill mb-2">
                        @foreach (var field in Model.Post.Tags)
                        {
                            <span id="tag" class="badge bg-primary">@field.Name</span>
                        }

                    </div>
                }
            </div>

            <p class="p-2 card-text">
                <small class="text-body-secondary">@Model.Post.CreatedAt.ToString("dd-MM-yyyy")</small>
            </p>
            <div class="d-flex p-1 flex-wrap justify-content-center">
                <pre class="card-body md:order-2 order-1" style="width: 50%">
                    @Model.Post.Description
                </pre>
                @if (Model.Post.Image != null)
                {
                    <div class="md:order-1 order-md-2">
                        <img src="@Model.Post.Image.FilePath" alt="@Model.Post.Image.AltText" class="img-fluid rounded">
                    </div>
                }
            </div>

            <span class="share">
                <a class="telegram"href="" id="tg_share" alt="">
                    <img class="message" src="/ico/telegram.png" alt="">
                </a>
                @* <a class="facebook" href="" id="fb_share" alt=""><img class="message" src="/ico/facebook.png" alt=""></a> *@
            </span>
        </div>
        @await Html.PartialAsync("_DisplayComments", (Model.Post.Id, Model.Post.PostType, Model.Post.Comments))

    </div>
    <div class="col-4">
        @if (Model.Post.SimilarInvests != null && Model.Post.SimilarInvests.Any())
        {
            <p>Схожі оголошення</p>
            @await Html.PartialAsync("_SimilarContent", ("Invest", Model.Post.SimilarInvests, Model.Post.Tags))
            <a class="btn-primary"
               asp-area="Main"
               asp-page="/Invest/List"
               asp-all-route-data="@(InvestmentHelper.GetPaginationData(tagIds: Model.Post.Tags.Select(x => x.Id)))">
                Більше оголошень...
            </a>
        }
        @if (Model.Post.SimilarNews != null && Model.Post.SimilarNews.Any())
        {
            <p>Схожі новини</p>
            @await Html.PartialAsync("_SimilarContent", ("News", Model.Post.SimilarNews, Model.Post.Tags))
            <a class="btn-primary"
               asp-area="Main"
               asp-page="/News/List"
               asp-all-route-data="@(InvestmentHelper.GetPaginationData(tagIds: Model.Post.Tags.Select(x => x.Id)))">
                Більше новини...
            </a>
        }
    </div>
</div>

<script>
    window.onload = function() {
        var shareUrl = encodeURIComponent(window.location.href);
        fb_share.href ='https://www.facebook.com/share.php?u=' + shareUrl;
        tg_share.href ='https://t.me/share/url?url=' + shareUrl;
    }
</script>