@page "/invest"
@using InvestList
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InvestList.Areas.Main.Pages.Invest.List

<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-12 col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-3">
                                <a class="card-link" asp-area="Main" asp-page="/Invest/Get" asp-route-id="@ad.Slug">@ad.Title</a>
                            </h4>

                            @if (ad.Tags != null && ad.Tags.Any())
                            {
                                <div class="tags-container">
                                    @foreach (var field in ad.Tags)
                                    {
                                        <span class="tag_index">@field.Name</span>
                                    }
                                </div>
                            }
                            <hr>

                            <div class="row">
                                @if (ad.Image != null)
                                {
                                    <div class="col-auto">
                                        <img src="@ad.Image.FilePath" alt="@ad.Image.AltText" class="img-fluid rounded" style="width: 100px; height: 100px;">
                                    </div>
                                }

                                <div class="col">
                                    <p class="card-text text-black mb-0">@ad.Description?.Substring(0, Math.Min(ad.Description.Length, 150))</p>
                                    <div class="annualInvestment">
                                        @ad.AnnualInvestmentReturn.ToString("0.")<i class="bi bi-percent"></i>
                                    </div>
                                    <div class="duration">@InvestmentHelper.FormatInvestmentDuration(ad.InvestDurationYears, ad.InvestDurationMonths)</div>
                                    @if (ad.MinInvestValues != null && ad.MinInvestValues.Any())
                                    {
                                        @foreach (var currency in ad.MinInvestValues)
                                        {
                                            <div class="currency">
                                                @currency.MinValue @currency.Currency
                                            </div>
                                        }
                                    }
                                    <div class="creation-data">@ad.CreatedAt.ToString("dd.MM.yyyy")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Немає оголошень</p>
    }

</div>
@if (Model.Entities != null && Model.Entities.Any())
{
    @await Html.PartialAsync("_Pagination", (Model.PaginationInfo, Model.TagIds))
}