@model PaginationInfo
<div class="container">
    <nav>
        <ul class="pagination justify-content-center">
            <!-- Previous Button -->
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })" tabindex="-1" aria-disabled ="@(Model.CurrentPage == 1 ? "true" : "false")">Попередня</a>
            </li>


            <!-- Current Page -->
            <li class="page-item"><span class="page-link">@Model.CurrentPage / @Model.TotalPages</span></li>

            <!-- Next Button -->
            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })" tabindex="-1" aria-disabled="@(Model.CurrentPage == Model.TotalPages ? "true" : "false")">Наступна</a>
            </li>

        </ul>
    </nav>
</div>