@using Common;
@model WebApplication1.Models.News.PostNewsViewModel

@{
    ViewData["Title"] = "Заявка на залучення інвестицій";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h4>Заповніть заявку на залучення інвестицій</h4>
<hr />
<div class="container">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>Виправте наступні помилки:</strong>
            <ul>
                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@modelError.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <form asp-action="Create" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input asp-for="AuthorId" type="hidden" value="@ViewData["UserId"]" />
        <div class="row mb-4">
            <div class="form-group col-12">
                <label asp-for="Title">Назва</label>
                <input asp-for="Title" class="form-control" placeholder="Вкажіть короткий опис, не більше 200 символів" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-12">
                <label asp-for="Description">Дайте детальний опис вашого бізнесу:</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
       
     @*    <div class="row mb-4">
            <span asp-validation-for="InvestFields" class="text-danger"></span>
            <div class="form-group col-6">
                @{
                    var options = ViewData["InvestFieldsOptions"] as Dictionary<Guid, string>;
                    if (options != null)
                    {
                        <label asp-for="InvestFields">Галузь інвестування</label>

                        <select asp-for="InvestFields" class="form-control">
                            @foreach (var (k, v) in options)
                            {
                                <option value="@k">@v</option>
                            }
                        </select>
                    }
                }

            </div>
            <div class="form-group col-6">
                <span asp-validation-for="AcceptedCurrencies" class="text-danger"></span>
                <label asp-for="AcceptedCurrencies">Введіть мінімальний поріг входу для тих валют, в яких приймаєте інвестиції</label>
                @foreach (var currency in Enum.GetValues(typeof(Currency)))
                {
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input placeholder="@currency" type="number" id="AcceptedCurrencies[@currency]" name="AcceptedCurrencies[@currency]" class="form-control" value="@Model?.AcceptedCurrencies?[(Currency)currency]" />
                    </div>
                }
            </div>
        </div> *@

        <div class="form-group col-6">
            <label >Завантажте фото</label>
            <input id="imageFileInput" type="file" class="form-control" />
        </div>
        <div class="form-group col-6">
            <input asp-for="ImageBase64" type="hidden" />
            <span asp-validation-for="ImageBase64" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
               document.getElementById('imageFileInput').addEventListener('change', function () {
            var fileInput = this;
            var file = fileInput.files[0];

            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = new Image();
                    img.src = e.target.result;

                    img.onload = function () {
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');

                        // Resize the image to 300x300
                        canvas.width = 300;
                        canvas.height = 300;
                        ctx.drawImage(img, 0, 0, 300, 300);

                        // Convert the image to base64 without the data URL prefix
                        var compressedBase64 = canvas.toDataURL('image/jpeg', 0.7).split(',')[1];

                        document.getElementById('ImageBase64').value = compressedBase64;
                    };
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}
