@using System.Security.Claims;
@using Common;
@using WebApplication1.Models.News;
@model GetNewsViewModel;

@{
    ViewData["Title"] = "Investment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header - Profile Section -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Image -->
            <img src="data:image;base64,@Model.ImageBase64" alt="Investment Image" class="img-fluid resized-image" />

            <!-- Title -->
            <h2>@Model.Title</h2>

            <!-- Author and Post Time -->
            <div class="mb-2">
                <span>Автор: <a href="#">@Model.Author</a></span>
                <span class="text-muted"> | 13 грудня 2023</span>
            </div>

            <!-- Tags -->
            @if (Model?.Tags?.Any() == true)
            {
                <div class="card-text">
                    Теги:
                    @foreach (var field in Model.Tags)
                    {
                        <span class="badge bg-primary">@field.Name</span>
                    }
                </div>
            }
            <div class="tags mb-3">
                Теги:
                <span class="badge bg-primary">Технології</span>
                <span class="badge bg-primary">Інвестиції</span>
                <span class="badge bg-primary">Інновації</span>
            </div>

            <!-- Description -->
            <div class="description mb-3">
                <label>Опис</label>
                <div>@Model.Description</div>
            </div>

            <!-- Back Button -->
            <button type="button" class="btn btn-secondary">Назад</button>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

@if (Model.AuthorId != null && User?.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.AuthorId)
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    </div>
}

<div>
    <a asp-action="Index">Назад</a>
</div>
