@model ListNewsViewModel

@{
    ViewData["Title"] = "Новини";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .resized-image {
        width: 300px;
        height: 300px;
        object-fit: cover; /* or object-fit: contain; depending on your preference */
    }
</style>
@await Html.PartialAsync("_Pagination", Model.PaginationInfo);
<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="text-center mb-4">
                                <img src="data:image;base64,@ad.ImageBase64" alt="Investment Image" class="img-fluid resized-image" />  
                            </div>
                            <h3 class="card-title">@ad.Title</h3>
                                <div class="tags mb-3">
                                    <span class="badge bg-primary">Технології</span>
                                    <span class="badge bg-primary">Інвестиції</span>
                                    <span class="badge bg-primary">Інновації</span>
                                </div>
                                <div class="author-created-row">
                                    <span>Автор: <a href="#">@ad.Author</a></span>
                                    <span class="text-muted"> | @ad.CreatedAt</span>
                                </div>  

                            <div class="truncated-text mb-4"> <!-- Container for truncated text -->
                                <p class="card-text">Наша мета - не просто задовольнити потреби наших клієнтів, 
                                    але й виходити за їхні рамки, створюючи інноваційні рішення, які перевершують 
                                    очікування. Ми розуміємо важливість стійкості та надійності, тому кожен етап виробництва 
                                    відбувається з особливою увагою до деталей та контролю якості.</p>
                            </div>
                            @if (ad?.Tags?.Any() == true)
                            {
                                <p class="card-text mb-4">
                                    Галузі інвестування:
                                    @foreach (var field in ad.Tags)
                                    {
                                        <span class="badge bg-primary">@field.Name</span>
                                    }
                                </p>
                            }

                            
                            <a href="@Url.Action("Details", new { id = ad.Id })" class="btn btn-primary">Детальніше</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No ads available.</p>
    }

</div>
@await Html.PartialAsync("_Pagination", Model.PaginationInfo);


