@using Common;
@model InvestList.Models.News.PostNewsViewModel

@{
    ViewData["Title"] = "Заявка на залучення інвестицій";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr/>
<h4>Заповніть заявку на створення новини</h4>
<hr/>
<div class="container">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>Виправте наступні помилки:</strong>
            <ul>
                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@modelError.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input asp-for="AuthorId" type="hidden" value="@ViewData["UserId"]"/>
        <div class="row mb-4">
            <div class="form-group col-12">
                <label asp-for="Title">Назва</label>
                <input asp-for="Title" class="form-control" placeholder="Вкажіть короткий опис, не більше 200 символів"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="form-group col-12">
                <label asp-for="TitleSeo">Ключові СЛОВА заголовку для SEO</label>
                <input asp-for="TitleSeo" class="form-control" placeholder="Кількість СИМВОЛІВ 35-65"/>
                <span asp-validation-for="TitleSeo" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="form-group col-12">
                <label asp-for="Description">Дайте детальний опис новини</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-12">
                <label asp-for="DescriptionSeo">Ключові СЛОВА опису для SEO</label>
                <input asp-for="DescriptionSeo" class="form-control" placeholder="Кількість СИМВОЛІВ 70-160"/>
                <span asp-validation-for="DescriptionSeo" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-6">
                <label>Завантажте фото:</label>
                <input id="imageFileInput" type="file" class="form-control mb-2" placeholder="Виберіть файл"/>
                <button id="removePhotoButton" type="button" class="btn btn-outline-danger mb-2" style="display: none;">Видалити фото</button>
                <img id="uploadedImage" src="#" alt="Investment Image" class="img-fluid resized-image mb-2" style="display: none;"/>
                <input asp-for="ImageBase64" type="hidden"/>
            </div>
        </div>

        <div class="row mb-4">
            <span asp-validation-for="Tags" class="text-danger"></span>
            @{
                var options = ViewData["Tags"] as Dictionary<Guid, string>;
                if (options != null)
                {
                    <label asp-for="Tags">Теги</label>

                    <select asp-for="Tags" class="form-control">
                        @foreach (var (k, v) in options)
                        {
                            <option value="@k">@v</option>
                        }
                    </select>
                }
            }
        </div>
        <button type="button" class="btn btn-secondary" id="addInputsBtn">Додати посилання</button>
        <div id="inputsContainer">
        </div>


        <button type="submit" class="btn btn-primary">Опублікувати</button>
    </form>
    <a asp-action="Index" class="btn btn-secondary">Повернутись до списку</a>
</div>

@section Scripts {
    <script src="~/js/handleImageUpload.js"></script>
    <script src="~/js/add-links.js"></script>
}