@using InvestList.Models.News;
@model GetNewsViewModel;

@{
    ViewData["Title"] = "Investment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header - Profile Section -->

<div class="container">
    <div class="row mb-4">
        <div class="col-8">
            <h2>@Model.Title</h2>
            @if (Model?.Tags?.Any() == true)
            {
                <div class="card-text">
                    <div class="tags mb-3">
                        @foreach (var field in Model.Tags)
                        {
                            <span class="badge bg-primary"># @field.Name</span>
                        }
                    </div>
                </div>
            }
            <img src="data:image;base64,@Model.ImageBase64" alt="Investment Image" class="img-fluid resized-image"/>
            <div class="row mb-4">
                <div class="well col-12">
                    <pre>@Model.Description</pre>
                </div>
            </div>
        </div>
        <div class="col-4">
            @if (Model.SimilarNews?.Any() == true)
            {
                <p>Схожі новини</p>
                foreach (var similarNew in Model.SimilarNews)
                {
                    <div class="row">
                        <a class="card-link" href="@Url.Action("Details", new { id = similarNew.Id })">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">@similarNew.Title</div>
                                </div>
                                <div class="card-body">
                                    @if (similarNew.Tags != null && similarNew.Tags.Any())
                                    {
                                        <div class="tags mb-3">
                                            @foreach (var field in similarNew.Tags)
                                            {
                                                <span class="badge bg-primary"># @field.Name</span>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }
                <a href="@Url.Action("Index", new { tagIds = Model.Tags.Select(x=>x.Id) })">Більше новин...</a>
            }
        </div>
    </div>
</div>

<div class="d-flex justify-content-start">
    @if (User.IsInRole(Const.AdminRole))
    {
        // Кнопка Редагувати
        <a asp-action="Edit" asp-controller="News" asp-route-id="@Model.Id" class="btn btn-primary me-2">Редагувати</a>
    }

    <!-- Кнопка Назад -->
    <a asp-action="Index" class="btn btn-secondary">Повернутись до списку</a>
</div>