@using System.Security.Claims;
@using Common;
@using WebApplication1.Models.Invest;
@model InvestAdViewModel

@{
    ViewData["Title"] = "Investment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header - Profile Section -->

<div class="container">
    <div class="row mb-4">

        <div class="form-group">
            @if (@Model.Published)
            {
                <label asp-for="Published">Оголошення активне</label>
            }
            else
            {
                <label asp-for="Published">Оголошення вимкнене</label>
            }
        </div>

        <div class="col-6">
            <h2>@Model.Title</h2>
            <div>Автор: <a href="#">@Model.Author</a></div>
            <div>Загальний обсяг інвестицій (у $): @Model.TotalInvestment</div>
            @if (Model.InvestDurationYears > 0 || Model.InvestDurationMonths > 0)
            {
                <div>
                    Період інвестування: @InvestmentHelper.FormatInvestmentDuration(Model.InvestDurationYears, Model.InvestDurationMonths)
                </div>
            }
            <div>
                Мінімальний поріг входу у валютах:
                @if (Model.AcceptedCurrencies != null && Model.AcceptedCurrencies.Any())
                {
                    <ul>
                        @foreach (var currency in Model.AcceptedCurrencies)
                        {
                            <li>@currency.Currency - $@currency.MinValue</li>
                        }
                    </ul>
                }
                else
                {
                    <span>Немає валют</span>
                }
            </div>
            <div>Річна дохідність (у %): @Model.AnnualInvestmentReturn</div>

            @if (Model.InvestFields != null && Model.InvestFields.Any())
            {
                <pre class="card-text">
                    Галузі інвестування:
                    @foreach (var field in Model.InvestFields)
                    {
                        <span class="badge bg-primary">@field.Title</span>
                    }
                </pre>
            }
        </div>
        <div class="col-6">
            <img src="data:image;base64,@Model.ImageBase64" alt="Investment Image" class="img-fluid resized-image" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="well col-12">
            <label>Опис</label>
            <pre>@Model.Description</pre>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

@if (Model.AuthorId != null && User?.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.AuthorId)
{
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-2">Редагувати</a>
}

    <a asp-action="Index" class="btn btn-secondary">Повернутись до списку</a>
