@using Common;
@model WebApplication1.Models.Invest.PostInvestAdViewModel;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="container">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>Виправте наступні помилки:</strong>
            <ul>
                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@modelError.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <form method="post" asp-action="Edit" asp-route-id="@ViewData["Id"]" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input asp-for="AuthorId" type="hidden" value="@ViewData["UserId"]" />
        <div class="form-group d-flex mb-3 align-items-center">
            <input type="checkbox" class="bigger-checkbox" checked="@Model.Published" asp-for="Published" />
            <label asp-for="Published">Оголошення буде відображене після публікації</label>
        </div>
        <div class="row mb-4">
            <div class="form-group col-6">
                <div class="mb-4">
                    <p asp-for="Title">Надайте короткий опис, що буде відображатись на головній сторінці.</p>
                    <input asp-for="Title" class="form-control" placeholder="Вкажіть не менше 10 символів, не більше 200 символів" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="AnnualInvestmentReturn">Річна дохідність у %</label>
                    <input asp-for="AnnualInvestmentReturn" class="form-control" type="number" value="@((Model?.AnnualInvestmentReturn > 0) ? (int)Model?.AnnualInvestmentReturn : null)"/>
                    <span asp-validation-for="AnnualInvestmentReturn" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="TotalInvestment">Загальний обсяг інвестицій (у $):</label>
                    <input type="number" asp-for="TotalInvestment" class="form-control" value="@((Model?.TotalInvestment > 0) ? (int)Model?.TotalInvestment : null)" />
                    <span asp-validation-for="TotalInvestment" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <span asp-validation-for="AcceptedCurrencies" class="text-danger"></span>
                    <label asp-for="AcceptedCurrencies">Введіть мінімальний поріг входу для тих валют, в яких приймаєте інвестиції</label>
                    @foreach (var currency in Enum.GetValues(typeof(Currency)))
                    {
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @{
                                if (Model.AcceptedCurrencies.TryGetValue((Currency)currency, out var value))
                                {
                                    <input placeholder="@currency" type="number" id="AcceptedCurrencies[@currency]" name="AcceptedCurrencies[@currency]" class="form-control" value="@((int)value)" />
                                }
                                else
                                {
                                    <input placeholder="@currency" type="number" id="AcceptedCurrencies[@currency]" name="AcceptedCurrencies[@currency]" class="form-control" />
                                }
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="form-group col-6">
                <label>Завантажте фото:</label>
                <input id="imageFileInput" type="file" class="form-control mb-2" placeholder="Виберіть файл" />
                <button id="removePhotoButton" type="button" class="btn btn-outline-danger mb-2" style="display: none;">Видалити фото</button>
                <img id="uploadedImage" src="#" alt="Investment Image" class="img-fluid resized-image mb-2" style="display: none;" />
                <input asp-for="ImageBase64" type="hidden" value="@Model.ImageBase64" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group">
                <p>Дайте детальний опис вашого бізнесу. Радимо відповісти на наступні питання в описі:</p>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Опишіть чим займається ваш бізнес</li>
                            <li>Як будуть витрачені кошти інвесторів</li>
                            <li>Як будуть виплачуватись відсотки інвесторам</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Як буде повертатись тіло інвестиції</li>
                            <li>Яким договором будуть регулюватись відносини з інвестором</li>
                        </ul>
                    </div>
                </div>

                <textarea rows="10" asp-for="Description" class="form-control"></textarea>
            </div>
        </div>

        <div class="row mb-4">
            <div class="form-group col-6">
                <label>На який термін залучаються інвестиції (вкажіть кількість років та місяців):</label>
                <span asp-validation-for="InvestDurationYears" class="text-danger"></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input placeholder="Кількість років" type="number" name="InvestDurationYears" class="form-control" value="@((Model?.InvestDurationYears > 0) ? Model?.InvestDurationYears : null)" />
                </div>
                <span asp-validation-for="InvestDurationMonths" class="text-danger"></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input placeholder="Кількість місяців" type="number" name="InvestDurationMonths" class="form-control" value="@((Model?.InvestDurationMonths > 0) ? Model?.InvestDurationMonths : null)" />
                </div>
            </div>
            <div class="form-group col-6">
                <span asp-validation-for="InvestFields" class="text-danger"></span>
                @{
                    var options = ViewData["InvestFieldsOptions"] as Dictionary<Guid, string>;
                    if (options != null)
                    {
                        <label asp-for="InvestFields">Галузь інвестування</label>

                        <select asp-for="InvestFields" class="form-control">
                            @foreach (var (k, v) in options)
                            {
                                @if (Model.InvestFields.Contains(k.ToString()))
                                {
                                    <option selected value="@k">@v</option>

                                }
                                else
                                {
                                    <option value="@k">@v</option>
                                }
                            }
                        </select>
                    }
                }

            </div>
        </div>

<button type="submit" class="btn btn-primary">Внести зміни</button>

    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/handleImageUpload.js"></script>
}
