@model WebApplication1.Models.Invest.ListInvestsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Html.PartialAsync("_Pagination", Model.PaginationInfo)
<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <div class="card-title">@ad.Title</div>
                            <div class="card-info">
                                <div>
                                    <i class="fas fa-user"></i>
                                    <span class="text-muted">@ad.Author</span>
                                </div>
                                <div>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>@ad.CreatedAt</span>
                                </div>
                            </div>
                        </div>
                        <!-- ... Вміст картки ... -->
                        <div class="card-body">
                            @if (ad.InvestFields != null && ad.InvestFields.Any())
                            {
                                <div class="tags-container">
                                    @foreach (var field in ad.InvestFields)
                                    {
                                        <span class="tag">@field</span>
                                    }
                                </div>
                            }
                           
                            <div class="card-text">
                                <i class="fas fa-check-circle"></i>
                                <span>від прибутку (@ad.AnnualInvestmentReturn %)</span>
                                @if (ad.AcceptedCurrencies != null && ad.AcceptedCurrencies.Any())
                                {
                                    @foreach (var currency in ad.AcceptedCurrencies)
                                    {
                                        <span class="text-right">@currency.MinValue @currency.Currency<i class="bi bi-wallet2"></i></span>
                                    }
                                }
                            </div>
                            <div class="card-text">
                                <i class="fas fa-times-circle"></i>
                                <span>@InvestmentHelper.FormatInvestmentDuration(ad.InvestDurationYears, ad.InvestDurationMonths)</span>
                                <span class="text-right">ще щось<i class="icon-right fas fa-info-circle"></i></span>
                            </div>
                            <a href="@Url.Action("Details", new { id = ad.Id })" class="btn btn-primary mb-1">Детальніше</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No ads available.</p>
    }

</div>
@await Html.PartialAsync("_Pagination", Model.PaginationInfo)


