@model WebApplication1.Models.Invest.ListInvestsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Html.PartialAsync("_Pagination", Model.PaginationInfo);
<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="data:image;base64,@ad.ImageData" alt="Investment Image" class="img-fluid resized-image mx-auto" />
                            </div>
                            <h3 class="card-title"><a href="@Url.Action("Details", new { id = ad.Id })">@ad.Title</a></h3>
                            <p class="card-text"><a href="#">@ad.Author</a></p>
                            <p class="card-text">Створено: @ad.CreatedAt.ToString("dd.MM.yyyy")</p>

                            @if (ad.InvestDurationYears > 0 || ad.InvestDurationMonths > 0)
                            {
                                <p class="card-text">
                                    Період інвестування: @InvestmentHelper.FormatInvestmentDuration(ad.InvestDurationYears, ad.InvestDurationMonths)
                                </p>
                            }

                            <p class="card-text">
                                Мінімальний поріг входу у валютах:
                                @if (ad.AcceptedCurrencies != null && ad.AcceptedCurrencies.Any())
                                {
                                    <ul>
                                        @foreach (var currency in ad.AcceptedCurrencies)
                                        {
                                            <li>@currency.MinValue @currency.Currency</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>Немає валют</span>
                                }
                            </p>

                            @if (ad.InvestFields != null && ad.InvestFields.Any())
                            {
                                <p class="card-text">
                                    Галузі інвестування:
                                    @foreach (var field in ad.InvestFields)
                                    {
                                        <span class="badge bg-primary">@field</span>
                                    }
                                </p>
                            }

                            <a href="@Url.Action("Details", new { id = ad.Id })" class="btn btn-primary">Детальніше</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No ads available.</p>
    }

</div>
@await Html.PartialAsync("_Pagination", Model.PaginationInfo);


