@model WebApplication1.Models.Invest.ListInvestsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Html.PartialAsync("_Pagination", Model.PaginationInfo)
<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <div class="card-title">@ad.Title</div>
                            
                        </div>
                        <!-- ... Вміст картки ... -->
                        <div class="card-body">

                            @if (ad.InvestFields != null && ad.InvestFields.Any())
                            {
                                <div class="tags-container">
                                    @foreach (var field in ad.InvestFields)
                                    {
                                        <span class="tag">@field</span>
                                    }
                                </div>
                            }
                            
                                

                                <div class="card-text">
                                <i class="fas fa-check-circle"></i>
                                <span>@ad.AnnualInvestmentReturn %</span>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span class="text-right">@ad.CreatedAt</span>
                                </div>
                            </div>
                           
                            <div class="card-text">
                                <i class="fas fa-check-circle"></i>
                                @if (ad.AcceptedCurrencies != null && ad.AcceptedCurrencies.Any())
                                {
                                    @foreach (var currency in ad.AcceptedCurrencies)
                                    {
                                        <span class="text-right">@currency.MinValue @currency.Currency</span>
                                    }
                                }
                                <i class="fas fa-times-circle"></i>
                                <span>@InvestmentHelper.FormatInvestmentDuration(ad.InvestDurationYears, ad.InvestDurationMonths)</span>
                            </div>

                        
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No ads available.</p>
    }

</div>
@await Html.PartialAsync("_Pagination", Model.PaginationInfo)


