@model ListInvestsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Створити новий</a>
</p>

<div class="container">
    <div class="form-group">
        <label for="searchTitle">Шукати: </label>
        <input placeholder="Запит для пошуку" type="text" class="form-control" id="searchTitle" name="searchTitle" />
    </div>
    <button id="searchButton" class="btn btn-primary">Пошук</button>
</div>

<script>
    document.getElementById( 'searchButton' ).addEventListener( 'click', function () {
        var searchTerm = document.getElementById( 'searchTitle' ).value;
        var url = '@Url.Action("Search", "Invest")' + '?searchTerm=' + encodeURIComponent( searchTerm ) + '&currentPage=1';
        window.location.href = url;
    } );
</script>

<div class="pagination-container">
    @if (Model.PaginationInfo.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { page = Model.PaginationInfo.CurrentPage - 1 })">Previous</a>
    }

    <span>@Model.PaginationInfo.CurrentPage / @Model.PaginationInfo.TotalPages</span>

    @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages)
    {
        <a href="@Url.Action("Index", new { page = Model.PaginationInfo.CurrentPage + 1})">Next</a>
    }
</div>
<div class="container">

    <div class="row">
        @foreach (var item in Model.Entities)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
                    <div class="card-body">
                        @foreach (var tag in item.InvestFields)
                        {
                            <div class="tag tag1">@tag</div>
                        }
                        <h5 class="card-title">@item.Title</h5>
                        <p><small class="text-muted">@item.CreatedAt.ToString("dd.MM.yyyy")</small></p>
                        <p class="card-text">
                            <small class="text-muted">
                                <img src="https://via.placeholder.com/24" alt="Author Avatar" class="avatar">
                                <p class="card-text">Автор: <a href="#">@item.Author</a><br></p>
                            </small>
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="fas fa-percent">
                                    Термін інвестиції
                                    @if (item.InvestDurationYears > 0)
                                    {
                                        <kbd>
                                            @($"{item.InvestDurationYears} {(item.InvestDurationYears == 1 ? "рік" : "роки")}")
                                        </kbd>
                                    }

                                    @if (item.InvestDurationMonths > 0)
                                    {
                                        <kbd>
                                            @($"{item.InvestDurationMonths} {(item.InvestDurationMonths == 1 ? "місяць" : "місяці")}")
                                        </kbd>
                                    }
                                </i>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-money-bill">
                                    Мінімальний поріг входу
                                    @if (item.AcceptedCurrencies != null)
                                        @foreach (var item1 in item.AcceptedCurrencies)
                                        {
                                            <span class="label label-info">@item1.Currency</span> @item1.MinValue
                                        }
                                </i>
                            </li>
                            @* <li class="list-group-item"><i class="fas fa-coins"></i> Feature 3</li> *@
                        </ul>
                        @* <div class="views-comments">
                    <p><small class="text-muted"><i class="fas fa-eye"></i> 100</small></p>
                    <p><small class="text-muted"><i class="fas fa-comment"></i> 20</small></p>
                    </div> *@
                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary">Детальніше</a>
                        <a href="#" class="card-link">GitHub</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="pagination-container">
    @if (Model.PaginationInfo.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { page = Model.PaginationInfo.CurrentPage - 1 })">Previous</a>
    }

    <span>@Model.PaginationInfo.CurrentPage / @Model.PaginationInfo.TotalPages</span>

    @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages)
    {
        <a href="@Url.Action("Index", new { page = Model.PaginationInfo.CurrentPage + 1})">Next</a>
    }
</div>
