@using Common;
@model WebApplication1.Models.Invest.ListInvestsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
            <partial name="_Search" />
        </form>

        <div class="text-end">
            
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#filterForm" aria-expanded="false" aria-controls="filterForm">
                <i class="bi bi-filter-square"></i> Показати фільтри
            </button>
        </div>
    </div>
</div>

<div class="collapse" id="filterForm">
    <form method="get" action="@Url.Action("Filter")" class="form">
        <div class="row gx-3">
            <!-- Currency Filter Column -->
            <div class="col-md-6">
                <div class="mb-3">
                    <select class="form-select" name="currency" id="currency">
                        <option value="USD">Поріг входу</option>
                        <option value="UAH">UAH</option>
                        <option value="USD">USD</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="minInvestment" id="minInvestment" step="0.01" placeholder="Min сума" />
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="maxInvestment" id="maxInvestment" step="0.01" placeholder="Max сума" />
                </div>
            </div>

            <!-- Annual Investment Return Filter Column -->
            <div class="col-md-6">
                <label for="minAnnualInvestmentReturn" class="form-label">Річний прибуток (%)</label>
                <div class="mb-3">

                    <input type="number" class="form-control" name="minAnnualInvestmentReturn" id="minAnnualInvestmentReturn" step="0.01" placeholder="min" />
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="maxAnnualInvestmentReturn" id="maxAnnualInvestmentReturn" step="0.01" placeholder="max" />
                </div>
            </div>

            <!-- Button -->
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-info">Фільтрувати</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <div class="card-title">@ad.Title</div>
                            
                        </div>
                        <!-- ... Вміст картки ... -->
                        <div class="card-body">

                            @if (ad.InvestFields != null && ad.InvestFields.Any())
                            {
                                <div class="tags-container">
                                    @foreach (var field in ad.InvestFields)
                                    {
                                        <span class="tag">@field</span>
                                    }
                                </div>
                            }
                            
                                

                                <div class="card-text">
                                <i class="fas fa-check-circle"></i>
                                <span>@ad.AnnualInvestmentReturn %</span>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span class="text-right">@ad.CreatedAt</span>
                                </div>
                            </div>
                           
                            <div class="card-text">
                                <i class="fas fa-check-circle"></i>
                                @if (ad.AcceptedCurrencies != null && ad.AcceptedCurrencies.Any())
                                {
                                    @foreach (var currency in ad.AcceptedCurrencies)
                                    {
                                        <span class="text-right">@currency.MinValue @currency.Currency</span>
                                    }
                                }
                                <i class="fas fa-times-circle"></i>
                                <span>@InvestmentHelper.FormatInvestmentDuration(ad.InvestDurationYears, ad.InvestDurationMonths)</span>
                            </div>

                        
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No ads available.</p>
    }

</div>
@await Html.PartialAsync("_Pagination", Model.PaginationInfo)

@section Scripts{
<script>
    $( document ).ready( function () {
        // Set initial placeholder on page load
        updatePlaceholders( $( '#currency' ).val() );

        $( '#currency' ).change( function () {
            var selectedCurrency = $( this ).val();
            updatePlaceholders( selectedCurrency );
        } );

        function updatePlaceholders( selectedCurrency ) {
            var placeholdersMin = {
                'UAH': 'Min сума (UAH)',
                'USD': 'Min сума (USD)',
                '': 'Min сума'
            };

            var placeholdersMax = {
                'UAH': 'Max сума (UAH)',
                'USD': 'Max сума (USD)',
                '': 'Max сума'
            };

            $( '#minInvestment' ).attr( 'placeholder', placeholdersMin[selectedCurrency] );
            $( '#maxInvestment' ).attr( 'placeholder', placeholdersMax[selectedCurrency] );
        }
    } );
</script>
}

