@model ListInvestsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Створити новий</a>
</p>
<style>
    .resized-image {
        width: 300px;
        height: 300px;
        object-fit: cover; /* or object-fit: contain; depending on your preference */
    }
</style>
@await Html.PartialAsync("_Pagination", Model.PaginationInfo);
<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <img src="data:image;base64,@Convert.ToBase64String(ad.ImageData)" alt="Investment Image" class="img-fluid resized-image" />
                            </div>
                            <h3 class="card-title">@ad.Title</h3>
                            <p class="card-text">Автор: @ad.Author</p>
                            <p class="card-text">Створено At: @ad.CreatedAt</p>

                            @if (ad.InvestDurationYears > 0 || ad.InvestDurationMonths > 0)
                            {
                                <p class="card-text">
                                    Період інвестування:
                                    @if (ad.InvestDurationYears == 1)
                                    {
                                        @ad.InvestDurationYears <text> рік </text>
                                    }
                                    else if (ad.InvestDurationYears >= 2 && ad.InvestDurationYears <= 4)
                                    {
                                        @ad.InvestDurationYears <text> роки </text>
                                    }
                                    else if (ad.InvestDurationYears >= 5)
                                    {
                                        @ad.InvestDurationYears <text> років </text>
                                    }

                                    @if (ad.InvestDurationMonths > 0)
                                    {
                                        @if (ad.InvestDurationMonths == 1)
                                        {
                                            @ad.InvestDurationMonths <text> місяць </text>
                                        }
                                        else if (ad.InvestDurationMonths >= 2 && ad.InvestDurationMonths <= 4)
                                        {
                                            @ad.InvestDurationMonths <text> місяці </text>
                                        }
                                        else
                                        {
                                            @ad.InvestDurationMonths <text> місяців </text>
                                        }
                                    }
                                </p>
                            }

                            <p class="card-text">
                                Мінімальний поріг входу у валютах:
                                @if (ad.AcceptedCurrencies != null && ad.AcceptedCurrencies.Any())
                                {
                                    <ul>
                                        @foreach (var currency in ad.AcceptedCurrencies)
                                        {
                                            <li>@currency.Currency - $@currency.MinValue</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>Немає валют</span>
                                }
                            </p>

                            @if (ad.InvestFields != null && ad.InvestFields.Any())
                            {
                                <p class="card-text">
                                    Галузі інвестування:
                                    @foreach (var field in ad.InvestFields)
                                    {
                                        <span class="badge bg-primary">@field</span>
                                    }
                                </p>
                            }

                            <a href="@Url.Action("Details", new { id = ad.Id })" class="btn btn-primary">Детальніше</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No ads available.</p>
    }

</div>
@await Html.PartialAsync("_Pagination", Model.PaginationInfo);


