@using InvestList
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Text.RegularExpressions;
@model InvestList.Models.V2.InvestView

<div class="list-post-card">
    <h4 class="list-post-title m-3">
        <a class="list-post-link" asp-area="Main" asp-page="/Invest/Get" asp-route-id="@Model.Slug">@Model.Title</a>
    </h4>

    @if (Model.Tags != null && Model.Tags.Any())
    {
        <div class="tags-container mx-3">
            @foreach (var field in Model.Tags)
            {
                <span class="tag_index">@field.Name</span>
            }
        </div>
    }
    <hr>

    <div class="row">
        @if (Model.Image != null)
        {
            <div class="col-auto ms-2">
                <img src="@Model.Image.FilePath" alt="@Model.Image.AltText" class="img-fluid rounded" style="width: 100px; height: 100px;">
            </div>
        }

        <div class="col ms-3 mb-3">
            @{
                if (!string.IsNullOrEmpty(Model.Description))
                {
                    Model.Description = Regex.Replace(Model.Description, "<.*?>", " ");
                }
            }
            <p class="description-color mb-0">@Html.Raw(Model.Description?.Substring(0, Math.Min(Model.Description.Length, 150)))</p>
            <div class="annualInvestment">
                @Model.AnnualInvestmentReturn.ToString("0.")<i class="bi bi-percent"></i>
            </div>
            <div class="duration">@InvestmentHelper.FormatInvestmentDuration(Model.InvestDurationYears, Model.InvestDurationMonths)</div>
            @if (Model.MinInvestValues != null && Model.MinInvestValues.Any())
            {
                @foreach (var currency in Model.MinInvestValues)
                {
                    <div class="currency">
                        @currency.MinValue @currency.Currency
                    </div>
                }
            }
            <div class="creation-data">@Model.CreatedAt.ToString("dd.MM.yyyy")</div>
        </div>
    </div>
</div>