@using InvestList
@model (string modelType, InvestList.Models.PaginationInfo PaginationInfo, IEnumerable<Guid> tagIds)
@if (Model.PaginationInfo.TotalPages > 1)
{
    <div class="container mt-3">
        <nav>
            <ul class="pagination justify-content-center">
                <!-- Previous Button -->
                @if (Model.PaginationInfo.CurrentPage > 1)
                {
                    var page= $"/{Model.modelType}/List";
                    <li class="page-item @(Model.PaginationInfo.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link"
                           asp-area="Main"
                           asp-page=@(page)
                           asp-all-route-data="@(InvestmentHelper.GetPaginationData(Model.PaginationInfo.CurrentPage - 1, Model.tagIds, Model.PaginationInfo.Search))">
                            Попередня
                        </a>
                    </li>
                }
                <!-- Current Page -->
                <li class="page-item">
                    <span class="page-link">@Model.PaginationInfo.CurrentPage / @Model.PaginationInfo.TotalPages</span>
                </li>

                <!-- Next Button -->
                @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages)
                {
                    var page= $"/{Model.modelType}/List";
                    <li class="page-item @(Model.PaginationInfo.CurrentPage == Model.PaginationInfo.TotalPages ? "disabled" : "")">
                        <a class="page-link"
                           asp-area="Main"
                           asp-page=@(page)
                           asp-all-route-data="@(InvestmentHelper.GetPaginationData(Model.PaginationInfo.CurrentPage + 1, Model.tagIds, Model.PaginationInfo.Search))">
                            Наступна
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}