@model InvestList.Models.V2.PostView

<div class="list-post-card">
    <h4 class="list-post-title m-3">
        <a class="list-post-link" asp-area="Main" asp-page="/News/Get" asp-route-id="@Model.Slug">@Model.Title</a>
    </h4>

    @if (Model.Tags != null && Model.Tags.Any())
    {
        <div class="tags-container mx-3">
            @foreach (var field in Model.Tags)
            {
                <span class="tag_index mb-1 mx-0">@field.Name</span>
            }
        </div>
    }
    <hr>

    <div class="row">
        @if (Model.Image != null)
        {
            <div class="col-auto ms-2">
                <img src="@Model.Image.FilePath" alt="@Model.Image.AltText" class="img-fluid rounded" style="width: 100px; height: 100px;">
            </div>
        }

        <div class="col ms-3 mb-3">
            <p class="text-black mb-1">@Model.Description?.Substring(0, Math.Min(Model.Description.Length, 150))</p>
            <div class="creation-data">@Model.CreatedAt.ToString("dd.MM.yyyy")</div>
        </div>
    </div>
</div>