@model PostShortWithCommentDto

<div class="list-post-card">
    <h4 class="list-post-title m-3">
        <a class="list-post-link" asp-area="Main" asp-page=@($"/{Model.Link}/Get") asp-route-id="@Model.Slug">@Model.Title</a>
    </h4>

    @if (Model.Tags != null && Model.Tags.Any())
    {
        <div class="tags-container mx-3">
            @foreach (var field in Model.Tags)
            {
                <span class="tag_index mb-1 mx-0">@field.Name</span>
            }
        </div>
    }
    <hr>

    <div class="row mx-2">
        @if (Model.Image != null)
        {
            <div class="col-auto ms-2">
                <img src="@Model.Image.FilePath" alt="@Model.Image.AltText" class="img-fluid rounded" style="width: 100px; height: 100px;">
            </div>
        }

        @{
            var comment = Model.Comment;
            @await Html.PartialAsync("_CommentCard", comment)
        }
    </div>
</div>