@using Core.Interfaces
@using InvestList
@inject ITagRepository tagService
@inject IWebHostEnvironment env
<!DOCTYPE html>
<html lang="uk">
<head>
    @if (env.IsProduction())
    {
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TDCJJF5S');</script>
        <!-- End Google Tag Manager -->
    }
    <meta charset="utf-8"/>
    <meta name="google-adsense-account" content="ca-pub-7409000941565147">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/svg+xml" href="/ico/logo3.png">
    <title>@(ViewData["CustomTitle"] ?? ViewData["Title"])</title>
    @if (!string.IsNullOrEmpty(ViewData["CustomDescription"] as string))
    {
        <meta name="description" content="@ViewData["CustomDescription"]">
    }
    @if (ViewData["DisplayNoIndexTag"] as bool? == true)
    {
        <meta name="robots" content="noindex,follow">
    }
    @* @if (Context.Request.QueryString.HasValue && Context.Request.QueryString.Value.Contains("page")) *@
    @* { *@
    @*     <link rel="canonical" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path"> *@
    @*     *@
    @* } *@

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header class="navbar navbar-expand-lg navbar-light navbar-custom shadow-sm">
    <div class="container-fluid justify-content-start">
        <div class="logo-container d-flex align-items-center">
            <a asp-area="Main" asp-page="/Index" class="mx-auto me-2 mt-1">
                <img src="/ico/logo3.png" alt="invest radar logo" height="50" width="50"/>
            </a>
            <a asp-area="Main" asp-page="/Index" class="invest_radar">Invest Radar</a>
            <div class="ms-auto">
                <button class="navbar-toggler mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        @* <p class="language">УКР|ENG</p> *@

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="nav-item d-flex justify-content-center justify-content-lg-none mb-1 ms-3">
                <form class="d-flex mt-lg-2 me-3" role="search" method="get" asp-area="Main" asp-page="/Index">
                    <input class="form-control search-input" name="search" type="search" aria-label="Search">
                    <button class="btn search-button" type="submit">Пошук</button>
                </form>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="d-flex justify-content-center justify-content-lg-start align-items-center flex-grow-1 ms-lg-5 mt-lg-2">
                    <a asp-area="Main" asp-page="/Blacklist/List" class="news ms-lg-3" rel="follow">BLACKLIST</a>
                    <a asp-area="Main" asp-page="/News/List" class="news" rel="follow">НОВИНИ</a>
                    <div class="project-buttons">
                        <a asp-area="Main" asp-page="/Invest/List" class="projects" rel="follow">ПРОЕКТИ</a>
                        <a asp-area="Identity" asp-page="/Account/Register" class="reg  d-flex align-items-center" rel="nofollow">ДОДАТИ ПРОЕКТ</a>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-1 log_reg">
                    <a asp-area="Identity" asp-page="/Account/Register" class="reg d-flex align-items-center" rel="nofollow">ЗАРЕЄСТРУВАТИСЯ</a>
                    <a asp-area="Identity" asp-page="/Account/Login" class="logIn" rel="nofollow">УВІЙТИ</a>
                </div>
            }
            @if (User.Identity.IsAuthenticated && !User.IsInRole(Const.AdminRole))
            {
                <div class="d-flex justify-content-center justify-content-lg-start align-items-center flex-grow-1 ms-md-4  ms-lg-5 mt-lg-2">
                    <a asp-area="Main" asp-page="/Blacklist/List" class="news ms-lg-3" rel="follow">BLACKLIST</a>
                    <a asp-area="Main" asp-page="/News/List" class="news" rel="follow">НОВИНИ</a>
                    <div class="project-buttons">
                        <a asp-area="Main" asp-page="/Invest/List" class="projects" rel="follow">ПРОЕКТИ</a>
                        <a asp-area="Main" asp-page="/Invest/Create" class="add_project" rel="nofollow">ДОДАТИ ПРОЕКТ</a>
                    </div>
                </div>
                <div class="dropdown text-end d-flex justify-content-center justify-content-md-end mt-1 prof">
                    <a href="#" class="profile" data-bs-toggle="dropdown" aria-expanded="false">ПРОФІЛЬ</a>
                    <ul class="dropdown-menu dropdown-menu-end text-small">
                        <li>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Profile">@User.Identity?.Name</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Invest", new { area = "" })">Вийти</a>
                        </li>
                    </ul>
                </div>
            }
            @if (User.IsInRole(Const.AdminRole))
            {
                <div class="d-flex justify-content-center justify-content-lg-start align-items-center flex-grow-1 ms-md-2 ms-lg-5 mt-lg-1">
                    <a asp-area="Main" asp-page="/Blacklist/List" class="news ms-lg-3" rel="follow">BLACKLIST</a>
                    <a asp-area="Main" asp-page="/News/List" class="news" rel="follow">НОВИНИ</a>
                    <div class="project-buttons">
                        <a asp-area="Main" asp-page="/Invest/List" class="projects" rel="follow">ПРОЕКТИ</a>
                        <a asp-area="Main" asp-page="/Invest/Create" class="add_project" rel="nofollow">ДОДАТИ ПРОЕКТ</a>
                    </div>
                </div>
                <div class="dropdown text-end d-flex justify-content-center justify-content-md-end mt-1 admin_profile">
                    <a href="#" class="admin" data-bs-toggle="dropdown" aria-expanded="false">АДМІН</a>
                    <ul class="dropdown-menu dropdown-menu-end text-small">
                        <li>
                            <a class="dropdown-item" asp-area="Main" asp-page="/News/Create">Створити новину</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="Main" asp-page="/Blacklist/Create">Створити Blacklist</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="Main" asp-page="/Admin/Index">Додати тег</a>
                        </li>
                    </ul>
                    <a href="#" class="profile" data-bs-toggle="dropdown" aria-expanded="false">ПРОФІЛЬ</a>
                    <ul class="dropdown-menu dropdown-menu-end text-small">
                        <li>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Profile">@User.Identity?.Name</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Invest", new { area = "" })">Вийти</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
        @* <partial name="_LoginPartial"/> *@
    </div>
</header>

@{
    var header = await tagService.GetCustomHeader();
    if (header?.Count() > 0)
    {
        <div class="nav-panel my-2">
            <ul class="nav nav-tags col-12 col-md-auto mb-2 mb-md-0">
                @foreach (var tag in header)
                {
                    <li class="nav-item">
                        <a class="nav-link"
                           asp-area="Main"
                           asp-page="/Index"
                           asp-all-route-data="@(InvestmentHelper.GetPaginationData(tagIds: new[] { tag.TagId }))">
                            @tag.Tag.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
}

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top bg-light text-dark py-3">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
        <div class="nav">
            <a asp-area="Main" asp-page="/Index" class="ms-3 me-2 mt-1">
                <img src="/ico/logo3.png" alt="invest radar logo" height="50" width="50"/>
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="https://forms.gle/BpSkLHWuq6y7yRiP9" class="nav-link px-2 creation-data-footer"><i class="bi bi-google"></i> Лишити відгук</a>
            </li>
            <li class="nav-item">
                <a href="https://forms.gle/DTgQQGUEixvhyLAA7" class="nav-link px-2 creation-data-footer"><i class="bi bi-google"></i> Ваш досвід інвестування</a>
            </li>
            <li class="nav-item">
                <a href="/privacy-policy.html" class="nav-link px-2 creation-data-footer">Політика конфіденційності</a>
            </li>
        </ul>
        <div class="nav">
            <li class="nav-item">
                <a href="https://t.me/invest_radar_com" class="nav-link px-2 creation-data-footer">
                    <i class="bi bi-telegram" style="font-size: 20px"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.instagram.com/invest_radar_com?igsh=MTJpcXNtemNwdXVlcw%3D%3D&utm_source=qr" class="nav-link px-2 creation-data-footer">
                    <i class="bi bi-instagram" style="font-size: 20px"></i>
                </a>
            </li>
            @{
                string tiktokUsername = "invest_radar";
                string tiktokUrl = $"https://www.tiktok.com/@{tiktokUsername}?_t=8nDLHbmpF14&_r=1";
            }
            <li class="nav-item">
                <a href="@tiktokUrl" class="nav-link px-2 creation-data-footer">
                    <i class="bi bi-tiktok" style="font-size: 20px"></i>
                </a>
            </li>
        </div>
    </div>
    @* <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7409000941565147" *@
    @*      crossorigin="anonymous"></script> *@
    @* <!-- footer --> *@
    @* <ins class="adsbygoogle" *@
    @*      style="display:block" *@
    @*      data-ad-client="ca-pub-7409000941565147" *@
    @*      data-ad-slot="2740189613" *@
    @*      data-ad-format="auto" *@
    @*      data-full-width-responsive="true"></ins> *@
    @* <script> *@
    @*      (adsbygoogle = window.adsbygoogle || []).push({}); *@
    @* </script> *@
</footer>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
@await RenderSectionAsync("Scripts", required: false)
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>