@using System.Security.Claims;
@using InvestList.Models.Invest;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InvestAdViewModel

@{
    ViewData["Title"] = "Investment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header - Profile Section -->
<div class="container mb-4">
    @if (Model.AuthorId != null && User?.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.AuthorId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-2">Редагувати</a>
    }

    <a asp-action="Index" class="btn btn-secondary">Повернутись до списку</a>
</div>
<div class="row">
    <div class="col-8">
        <div class="card border-success mb-3">
            <h1 class="card-header">@Model.Title</h1>

        <div class="d-flex border align-content-start flex-wrap">
            <div class="p-2 flex-fill">Загальний обсяг інвестицій: $@Model.TotalInvestment</div>
            <div class="p-2 flex-fill">Період інвестування: @InvestmentHelper.FormatInvestmentDuration(Model.InvestDurationYears, Model.InvestDurationMonths)</div>
            <div class="p-2 flex-fill">Річна дохідність: @Model.AnnualInvestmentReturn%</div>
        </div>

            <div class="d-flex border align-content-start flex-wrap">
                <div class="d-flex card-text p-2 flex-fill">
                    <span style="padding-right: 10px;">Мінімальний поріг входу </span>
                    @if (Model.AcceptedCurrencies != null && Model.AcceptedCurrencies.Any())
                    {
                        @foreach (var currency in Model.AcceptedCurrencies)
                        {
                            <span > @currency.MinValue @currency.Currency </span>
                        }
                    }
                    else
                    {
                        <span>Немає валют</span>
                    }
                </div>

                @if (Model.Tags != null && Model.Tags.Any())
                {
                    <div class="flex-fill mb-2">
                        @foreach (var field in Model.Tags)
                        {
                            <span id="tag" class="badge bg-primary">@field.Name</span>
                        }

                    </div>
                }
            </div>

            <p class="p-2 card-text">
                <small class="text-body-secondary">@Model.CreatedAt.ToString("dd-MM-yyyy")</small>
            </p>
            <div class="d-flex p-1 flex-wrap justify-content-center">
                <pre class="card-body md:order-2 order-1" style="width: 50%">
                    @Model.Description
                </pre>
                @if (!string.IsNullOrEmpty(Model.ImageBase64))
                {
                    <div class="md:order-1 order-md-2">
                        <img src="data:image;base64,@Model.ImageBase64" alt="Investment Image"/>
                    </div>
                }
            </div>

            <span class="share">
                <a class="telegram" href="" onclick="shareTelegram()" id="tg_share" alt=""><img class="message" src="/ico/telegram.png" alt=""></a>
                @* <a class="facebook" href="" id="fb_share" alt=""><img class="message" src="/ico/facebook.png" alt=""></a> *@
            </span>
        </div>
        @await Html.PartialAsync("_DisplayComments", ( (Guid?)Model.Id, new Guid?(), Model.Comments))

    </div>
    <div class="col-4">
        @await Html.PartialAsync("_SimilarNews", (Model.SimilarNews, Model.Tags))
        @await Html.PartialAsync("_SimilarInvest", (Model.SimilarInvests, Model.Tags))
    </div>
</div>

<script>
    function shareTelegram() {
        var shareUrl = encodeURIComponent(window.location.href);
        var tg_share = document.getElementById("tg_share")
        
        tg_share.href ='https://t.me/share/url?url=' + shareUrl; 
    }  
</script>