@using Common;
@model InvestList.Models.Invest.ListInvestsViewModel

@{
    ViewData["Title"] = "Головна";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Temporally hidden *@
@* <div class="px-3 py-2 border-top mb-3 border-bottom mb-3"> *@
@*     <div class="container d-flex flex-wrap justify-content-center"> *@
@*         @*         <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search"> *@
@*         <partial name="_Search" /> *@
@*         </form> *@
@* *@
@*         <div class="text-end"> *@
@* *@
@*             <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#filterFormDiv" aria-expanded="false" aria-controls="filterForm"> *@
@*                 <i class="bi bi-filter-square"></i> Показати фільтри *@
@*             </button> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

@* <div class="collapse" id="filterFormDiv"> *@
@*     <form method="get" action="@Url.Action("Index")" class="form" id="filterForm"> *@
@*         <input type="hidden" name="currentPage" id="page" value="@Model.PaginationInfo?.CurrentPage" /> *@
@*         <div class="row gx-3"> *@
@*             <!-- Currency Filter Column --> *@
@*             <div class="col-md-6"> *@
@*                 <div class="mb-3"> *@
@*                     @{ *@
@*                         var selectedCurrency = Model.FilterModel?.Currency; *@
@*                     } *@
@*                     <label>Мінімальний поріг входу</label> *@
@*                     <select class="form-select" name="currency" id="currency"> *@
@*                         <option value="UAH" selected="@(Currency.UAH == selectedCurrency)">UAH</option> *@
@*                         <option value="USD" selected="@(Currency.USD == selectedCurrency)">USD</option> *@
@*                     </select> *@
@* *@
@*                 </div> *@
@*                 <div class="mb-3"> *@
@*                     <input type="number" class="form-control" name="minInvestment" id="minInvestment" step="0.01" placeholder="Min сума" value="@Model.FilterModel?.MinInvestment" /> *@
@*                 </div> *@
@*                 <div class="mb-3"> *@
@*                     <input type="number" class="form-control" name="maxInvestment" id="maxInvestment" step="0.01" placeholder="Max сума" value="@Model.FilterModel?.MaxInvestment" /> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <!-- Annual Investment Return Filter Column --> *@
@*             <div class="col-md-6"> *@
@*                 <label for="minAnnualInvestmentReturn" class="form-label mb-0">Річний прибуток (%)</label> *@
@*                 <div class="mb-3"> *@
@*                     <input type="number" class="form-control" name="minAnnualInvestmentReturn" id="minAnnualInvestmentReturn" step="0.01" placeholder="min" value="@Model.FilterModel?.MinAnnualInvestmentReturn" /> *@
@*                 </div> *@
@*                 <div class="mb-3"> *@
@*                     <input type="number" class="form-control" name="maxAnnualInvestmentReturn" id="maxAnnualInvestmentReturn" step="0.01" placeholder="max" value="@Model.FilterModel?.MaxAnnualInvestmentReturn" /> *@
@*                 </div> *@
@*                  <!-- Button --> *@
@*                 <div class="col-12 mb-3"> *@
@*                     <button type="submit" class="btn btn-primary me-2" id="filterButton">Фільтрувати</button> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </form> *@
@* </div> *@

<div class="d-flex  justify-content-center  mb-4">
    <h1>Інвест радар для інвесторів та підприємців</h1>
</div>
<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="card custom-light-green col-md-6">
                    <div class="card-body">
                        <h4 class="card-title mb-3">
                            <a class="card-link" href="@Url.Action("Details", new { id = ad.Id })">@ad.Title</a>
                        </h4>
                        <div class="row">
                            <div class="col-auto">
                                <img src="data:image;base64,@ad.ImageData" alt="Placeholder" class="img-fluid rounded" style="width: 100px; height: 100px;">
                                <div>
                                    <i class="bi bi-percent"></i> @ad.AnnualInvestmentReturn.ToString("0.")
                                </div>
                                <div>
                                    <i class="bi bi-calendar-range"></i> @InvestmentHelper.FormatInvestmentDuration(ad.InvestDurationYears, ad.InvestDurationMonths)
                                </div>
                                @if (ad.AcceptedCurrencies != null && ad.AcceptedCurrencies.Any())
                                {
                                    @foreach (var currency in ad.AcceptedCurrencies)
                                    {
                                        <div>
                                            <i class="bi bi-check-circle"></i> @currency.MinValue.ToString("0.") @currency.Currency
                                        </div>
                                    }
                                }
                                <div class="text-muted">
                                    <i class="bi bi-clock-history"></i> @ad.CreatedAt.ToString("dd.MM.yyyy")
                                </div>

                            </div>
                            <div class="col">
                                <!-- Використання my-auto для вертикального центрування тексту відносно картинки -->
                                <p class="card-text text-black mb-0">@ad.Description?.Substring(0, Math.Min(ad.Description.Length, 300))</p>
                                @* <hr> *@
                                @* <small class="text-muted">@ad.CreatedAt.ToString("dd-MM-yyyy")</small> *@
                            </div>
                        </div>
                    </div>
                </div>

                @* <div class="col-md-6"> *@
                @*     <div class="card"> *@
                @*         <div class="card-body"> *@
                @*             <h5 class="card-title">@ad.Title</h5> *@
                @*             <div class="row"> *@
                @*                 <div class="col-auto"> *@
                @*                     <img src="data:image;base64,@ad.ImageData" alt="news logo" class="img-fluid rounded" style="width: 100px; height: 100px;"/> *@
                @*                 </div> *@
                @*                 <div class="col"> *@
                @*                     <p class="card-text text-muted">@ad.Title</p> *@
                @*                 </div> *@
                @*             </div> *@
                @*             <hr> *@
                @*             <div class="text-center"> *@
                @*                 <small class="text-muted">@ad.CreatedAt</small> *@
                @*                 @if (ad.Tags != null && ad.Tags.Any()) *@
                @*                 { *@
                @*                     <div class="tags-container"> *@
                @*                         @foreach (var field in ad.Tags) *@
                @*                         { *@
                @*                             <span class="tag">@field.Name</span> *@
                @*                         } *@
                @*                     </div> *@
                @*                 } *@
                @*             </div> *@
                @*         </div> *@
                @*     </div> *@
                @* </div> *@

                @* <div class="col-6 col-lg-3 mb-3"> *@
                @*     <a class="card-link" href="@Url.Action("Details", new { id = ad.Id })"> *@
                @*         <div class="card"> *@
                @*             <div class="card-header"> *@
                @*                 <div class="card-title"></div> *@
                @* *@
                @*             </div> *@
                @*             <div class="card-body"> *@
                @* *@
                @*                  *@
                @* *@
                @* *@
                @*                 <div> <i class="bi bi-percent"></i> @ad.AnnualInvestmentReturn.ToString("0.")</div> *@
                @*                 <div><i class="bi bi-calendar-range"></i> @InvestmentHelper.FormatInvestmentDuration(ad.InvestDurationYears, ad.InvestDurationMonths)</div> *@
                @*                 @if (ad.AcceptedCurrencies != null && ad.AcceptedCurrencies.Any()) *@
                @*                 { *@
                @* *@
                @*                     @foreach (var currency in ad.AcceptedCurrencies) *@
                @*                     { *@
                @*                         <div> <i class="bi bi-check-circle"></i> @currency.MinValue.ToString("0.") @currency.Currency</div> *@
                @*                     } *@
                @* *@
                @* *@
                @*                 } *@
                @*                 <div class="text-muted"><i class="bi bi-clock-history"></i> @ad.CreatedAt.ToString("dd.MM.yyyy")</div> *@
                @*             </div> *@
                @*         </div> *@
                @*     </a> *@
                @* </div> *@
            }
        </div>
    }
    else
    {
        <p>Немає оголошень</p>
    }

</div>
@await Html.PartialAsync("_InvestPagination", (Model.PaginationInfo, Model.FilterModel))

@* @section Scripts{ *@
@*     <script> *@
@*         document.getElementById( 'filterButton' ).addEventListener( 'click', function () { *@
@*             // Handle the click event here *@
@*             arrangeAndSubmit(); *@
@*         } ); *@
@* *@
@*         function arrangeAndSubmit() { *@
@*             // Remove disabled inputs before submitting the form *@
@*             var form = document.getElementById( 'filterForm' ); *@
@* *@
@*             // Remove empty parameters *@
@*             Array.from( form.elements ).forEach( function ( element ) { *@
@*                 if ( element.type !== 'submit' && element.value.trim() === "" ) { *@
@*                     element.disabled = true; *@
@*                 } *@
@*             } ); *@
@* *@
@*             // Submit the form *@
@*             form.submit(); *@
@*         } *@
@*     </script> *@
@* } *@