@page
@model InvestList.Areas.Main.Pages.Admin.Index

<ul>
    @foreach (var tag in Model.AvailableTags)
    {
        <li>@tag.Name</li>
    }
</ul>

<form asp-page-handler="AddTag" method="post">
    <div class="form-group mb-1">
        <label>Назва тегу:</label>
        <textarea id="tagName" name="tagName" class="form-control"  rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Відправити</button>
</form>

<form asp-page-handler="SubmitCustomHeader" method="post">
    <label>Виберіть список тегів для відображення у хедері</label>
    <div class="form-group col-6">
        @{
            if (Model?.AvailableTags?.Count() > 1)
            {
                <label>Теги</label>
                <select name="tagIds" class="form-control" multiple>
                    @foreach (var tag in Model.AvailableTags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
            }
        }
    </div>
    <button type="submit">Опублікувати новий хедер</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Type of entity</th>
        <th>Set a new priority</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in Model.Posts)
    {
        <tr>
            <td class="col-4" >@post.Title</td>
            <td class="col-4">@post.PostType.ToString()</td>
            <td class="col-4">
                <form asp-page-handler="UpdatePriority" method="post">
                    <input type="hidden" asp-for="Post.Id" value="@post.Id" />
                    <input type="number" asp-for="Post.Priority" class="form-control" value="@post.Priority" />
                    <button type="submit" class="btn btn-primary">Update Priority</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>